body{
    font-family: Arial, Helvetica, sans-serif;
}

.js-upper-row, 
.do-list-down{
    display: grid;
    grid-template-columns:200px 150px 100px;
    row-gap: 15px;
    column-gap: 15px;
    align-items: center;
    align-content: center;
}

.delete-btn{
    padding: 5px ;
    margin-top:10px;
    margin-bottom: 10px;
    color: white;
    background-color: darkred;
    cursor: pointer;
}
 .add-btn{
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 5px;
 }

 .input-layout{
    padding: 5px;

 }

 .js-date{
    padding: 5px;
 }